altgraph==0.17.4
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==2.3.3
flask-cors==5.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.0
Levenshtein==0.27.1
MarkupSafe==3.0.2
numpy==2.2.5
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pynput==1.8.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-Levenshtein==0.27.1
pytz==2025.2
pywin32-ctypes==0.2.3
RapidFuzz==3.13.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.3
setuptools==78.1.0
six==1.17.0
tabulate==0.9.0
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.3.0
Werkzeug==3.1.3
Flask-SocketIO
# For production, eventlet is recommended for async support
# You can use: pip install eventlet
